*{
    margin: auto;
}

body {
    background-color: cadetblue;

}
a {
    color: #000;
    text-decoration: none;
}



.title{
    margin:50px 0 20px 0;
    text-align: center;
    font-weight: 600;
    font-size: 26px;
    font-family: sans-serif;
}

.column_name{
    display: flex;
    flex-direction: row;
    background-color: #ccc;
    border: 1px solid #000;
    width: 75%;
}

.registers{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border: 1px solid #000;
    width: 75%;
}

.crud {
    background-color: #ccc;
    padding: 10px 5px 10px 5px;
border-left: solid 1px #000;
    text-align: center;
    width: 100%;

}

.field {
    padding: 10px 5px 10px 5px;
    //border-right: solid 1px #000;
    text-align: center;
    width: 100%;

}





.icon{
    width: 25px;
    margin-right: 5px;
}

.cambioListas{
    text-align: center;
    margin:20px;
}

.btn{
    padding:5px;
    background-color: greenyellow;
    border-radius: 10px;
}

.btn:hover {
    padding:5px;
    background-color: cyan;
    border-radius: 10px;
    transition: ease-in-out all 0.5s;
}

